<div class="row">
<div class="col-md-4">
<%= image_tag @book.book_img.url(:book_show), class: "book-show" %>
    </div>
    
    <div class="col-md-8">
    <h2>Book Title: <%= @book.title %></h2>
    <h3>Author By: <%= @book.author %></h3>
        <h2>Average Rating: </h2>
        <div class="average-review-rating" data-score="<%= @average_review %>">
        
        </div>
        <br/>
<!--    <h4>Category: <%= @book.category.name %></h4>-->
    <p><%= @book.descriptions %></p>
</div>
    
</div>

    <div class="row">
    <div class="col-md-4">
        <!-- book review and rating goes here -->
        <%= render @book.reviews %>
        <br/>
<div>
        <%= link_to "Review this book", new_book_review_path(@book), class: "book-review" %>
    
</div>
</div>
</div>

    <%= link_to "Back", root_path %>
    <% if user_signed_in? %>
    <% if @book.user_id == current_user.id %>

    <%= link_to "Edit", edit_book_path(@book) %>
    <%= link_to "Delete", book_path(@book), method: :delete, data:{ confirm: "Are you sure you want to delete this record?" } %>
<% end %>
<% end %>

<script>
$('.review-rating').raty({
    readOnly: true,
    score: function() {
        return $(this).attr('data-score');
    },
    path: '/assets/'
});
</script>

<script>
$('.average-review-rating').raty({
    readOnly: true,
     path: '/assets/',
    score: function() {
        return $(this).attr('data-score');
    },
   
});
</script>